name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: initialise Bonjour Software Limited build-tools
        run: make init
      - name: check code style and static typing
        run: make code-check
      - name: check code formatting
        run: make fmt-check
      - name: check markdown formatting
        run: make md-check
      - name: run test suite and check test coverage
        run: make test
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      - name: initialise Bonjour Software Limited build-tools
        run: make init
      - name: Checkout Dockerfile
        run: make get-dockerfile
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Extract metadata
        id: meta
        run: |
          echo "REPO_NAME=${GITHUB_REPOSITORY##*/}" >> "$GITHUB_OUTPUT"
          echo "SHORT_SHA=${GITHUB_SHA::7}" >> "$GITHUB_OUTPUT"
          echo "PROJECT_NAME=$(make get-project-name)" >> "$GITHUB_OUTPUT"
          echo "PYTHON_VERSION=$(make get-python-version)" >> "$GITHUB_OUTPUT"
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push production image
        uses: docker/build-push-action@v6
        with:
          build-args: |
            PROJECT_NAME=${{ steps.meta.outputs.PROJECT_NAME }}
            PYTHON_VERSION=${{ steps.meta.outputs.PYTHON_VERSION }}
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            bonjoursoftware/${{ steps.meta.outputs.PROJECT_NAME }}:latest
            bonjoursoftware/${{ steps.meta.outputs.PROJECT_NAME }}:${{ steps.meta.outputs.SHORT_SHA }}
